<!DOCTYPE html>
<html lang="en">

<header>
    <h1 style="background-color:#666;text-align: center;">
        <span style="font-size: 100%;color:white;">
        <strong>Yatra Ninja</strong>
    </span>
    </h1>
</header>
<body>
<p> New Request has been posted, review the post and flag it if required.</p>
<p></p>
<p style="text-align: center; color: orange; font-size:150%">Request Summary</p>
<div align="center"> {{ mail_content|safe }}</div>
<p></p>
</body>

<footer>

    <table>
        <tbody>
        <tr>
            <td>
                <p style="font-size: 90%; font: sans-serif;">                    <br/>
                    <span style="color: #ff6600;"><strong>Yatra-Ninja</strong></span></p>
            </td>
        </tr>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr>
            <td>
                <p style="font-size: 80%">This email was sent from a notification-only address that cannot accept
                    incoming email. Please do not
                    reply to this message.</p>
            </td>
        </tr>
        </tbody>
    </table>

</footer>
</html>